@font-face {
    font-family:'jedi';
    src: url(Starjedi.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}



* {
    
    padding: 0;
    margin: 0;
    
}
/*CABECALHO INICIAL*/
header > #cabecalho {
    background-color: #6C5BF0;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
    font-size: 1.1em;
    max-width: 100%;
}

.span {
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 10px;
    padding: 5px;
    border: 1px groove black;
    
}

a {
    color: rgb(13, 13, 14);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
    
}

#home .home a,
#hobbie .hobbie a,
#contato .contato a {
    background-position: right bottom;
    background-color:  rgba(219, 219, 199, 0.733);
    color: rgb(0, 0, 0);
    
   
}

a:active {
    color: rgb(216, 44, 44);
    
}

a:hover {
    color: rgb(226, 219, 219);
}

a:hover {
    background-color: rgba(223, 223, 211, 0.733);
}

li, a {
    display: inline;
    padding: 5px;
    text-decoration: none;
    
}

h1 {
    padding: 30px;
    font-family: 'jedi', Times, serif;
    font-size: 3em;
}
/*FIM CABECALHO*/


/*CORPO SITE*/

body {
    width: 100%;
    background-color: #8294D9 ;
}

.h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    
}

main {
    width: 100%;
    height: 100%;
}

#img-cont {
    display: flex;
    justify-content:space-evenly;
    
    
}
    

    

.img-p {
    width: 275px;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 100px;
    margin-left: 200px;

}

/*PAGINA HOBBIES*/
.p1 {
    margin-top: 75px;
   
}

.p2 {
    margin-top: 100px;
}

.fleximg {
    display: flex;
    flex-direction: column;
    
    
}

.brain {
    margin-bottom: 600px;
}

.brain2 {
    margin-top: 575px;
}

.fleximg, img img {
    padding-bottom: 200px; 
    margin-left: 150px;
    margin-top: -720px;
    
}



p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    background-color: #6EA684;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 8px 7px 1px ;
    width: 645px;
    margin-left: 620px;
    margin-top: -310px;
    padding: 15px;
}
/*CONTATO*/

.h3-contato {
    text-align: center;
    margin-top:30px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*RODAPE*/


.rodape1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 25px;
    background-color: rgba(177, 177, 177, 0.767);
}


.rodape2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 25px;
    background-color: rgba(177, 177, 177, 0.767);
}

.rodape3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(177, 177, 177, 0.767);
}


.contato1, .contato2, .contato3 {
    text-align: center;
}

.corpo, a:hover {
    background: none;

}

.social {
    padding-top: 8px;
    padding-bottom: 6px;
    width: 100%;
    border-radius: 10px;
}


    
    


/*FIM CORPO SITE/*